{% extends 'manager/manager_base.html' %} {% block manager_content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/dynamic-fields.css" />
    <title>Document</title>
</head>

<body>

    <div>
        {% csrf_token %}
        <textarea name="description" id="jobDescription" cols="30" rows="10"></textarea>


        <div class="mb-3">
            <label for="address">Program Language</label>
            <!-- <h1>Dynamic Fields Javascript</h1> -->
            <!-- <div class="wrapper"> -->
            <div id="survey_options">
                <input type="text" name="survey_options[]" class="survey_options skillBox" size="50" placeholder="language">

            </div>
            <div class="controls">
                <button type="button" id="add_more_fields" class="btn btn-primary">Add More</button>
                <button type="button" id="remove_fields" class="btn btn-danger">Delete</button>

            </div>
            <!-- </div> -->
        </div>

        <!--  -->

        <!-- // -->
        <button class="btn btn-success" onclick="createJob()" id="create">Create Job</button>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>



<script>
    var survey_options = document.getElementById('survey_options');
    var add_more_fields = document.getElementById('add_more_fields');
    var remove_fields = document.getElementById('remove_fields');

    add_more_fields.onclick = function() {
        var newField = document.createElement('input');
        newField.setAttribute('type', 'text');
        newField.setAttribute('name', 'survey_options[]');
        newField.setAttribute('class', 'survey_options skillBox');
        newField.setAttribute('siz', 50);
        newField.setAttribute('placeholder', 'language');
        survey_options.appendChild(newField);
    }

    remove_fields.onclick = function() {
        var input_tags = survey_options.getElementsByTagName('input');
        if (input_tags.length > 1) {
            survey_options.removeChild(input_tags[(input_tags.length) - 1]);
        }
    }




    function createJob() {
        console.log($("#jobDescription").val());

        var lan = $('input[name^=survey_options]').map(function(idx, elem) {
            return $(elem).val();
        }).get();
        console.log($("#jobDescription").val())

        $.ajax({
            url: '/manager/create_Job',
            type: 'POST',
            data: {
                'jobDescription': $("#jobDescription").val(),
                'lan': lan,
                // csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            datatype: 'html',
            success: function(result) {
                //On success
                console.log(result)
                if (result.status == true) {

                    Swal.fire({
                        title: 'Create Job Successful',
                        text: 'Success',
                        icon: 'success',
                        showCancelButton: true,
                        showDenyButton: false,
                        showCancelButton: false,
                        confirmButtonText: 'OK'
                    })
                    delayURL("/student/cvRecord")
                }

            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            }
        });
    }
</script>

{% endblock %}