{% extends 'base.html' %}

{% block javascript %}
<script>
</script>
{% endblock %}

{% block content %}

<div class="main" style="position: absolute;height: 100%; width: 100%">

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 260px;height:100%; position: absolute;">
        <a href="/manager" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="/static/HKBU_Logo.svg" class="pe-3" width="55" height="55">
          <span class="fs-5">HKBU</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="#" class="nav-link text-white active">
                <i class="fa-solid fa-gauge"></i>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-users"></i>
              Students
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>


      
    <div id="content" style="width: calc(100% - 260px); margin-left: 260px;height: 100%">
        
        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
                <span class="mb-0 h5"><strong>Dashboard</strong></span>
            </div>
        </nav>
       
    </div>
</div>


{% endblock %}

