<html>
  <head>
    {% include 'include.html' %}
    {% block header %}{% endblock %}
  </head>
  <style>
    {% comment %} global {% endcomment %}

    {% if nav == 'student' %}
      #main-content{
        margin-top: 100px;
      }
    {% endif %}
    
  </style>
  <body class="bg-light">
    {% if nav == 'student' %}
      {% include 'nav_student.html' %}
      {% include 'header_student.html' %}
    {% elif nav == 'manager'%}
 
    {% endif %}
    
    <div id="main-content">
      {% block content %}{% endblock %}
    </div>
    
  </body>
  {% block javascript %}
  {% endblock %}
</html>
