
<nav class="navbar navbar-expand bg-body-tertiary bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/HKBU_Logo.svg" width="30" height="30" />
        HKBU
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/student">Home</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" style="position:absolute">
            <li><a class="dropdown-item" href="/student/cvProfile">Profile</a></li>
            <li><a class="dropdown-item" href="/student/cvRecord">My CV templates</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
