<div class="modal fade" tabindex="-1" id="createUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="email_create_user" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email_create_user" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="student_id_create_user" class="form-label">Student ID</label>
                        <input type="text" class="form-control" id="student_id_create_user" aria-describedby="student_id">
                    </div>
                    <div class="mb-3">
                        <label for="username_create_user" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username_create_user" aria-describedby="username">
                    </div>
                    <div class="mb-3">
                        <label for="password_create_user" class="form-label">Password</label>
                        <input type="text" class="form-control" id="password_create_user" aria-describedby="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="createUserFetch()">Save</button>
            </div>
        </div>
    </div>
</div>