{% extends 'base.html' %}

{% block header %}
<script src="/static/employer/create_job.js"></script>
{% endblock %}
{% block content %}
<div class="container">
    <img src="https://hkbu.questionpro.com/qp_userimages//sub-3/4915150/35a.png">
    <h3>Internship & Graduate Opportunities for HKBU COMP Students</h3>
    <br>

    <div class="card">
        <div class="card-body">
            <form id="check_company_form">
                <div class="mb-3">
                    <label for="company_name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="company_name" placeholder="company name" required>    
                    <div class="form-text">
                        If the company name exists in the database, it will redirect you to the job creation page.                    
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<script>
$("#check_company_form").submit((e)=>{
    e.preventDefault()
    let company_name = $("#company_name").val()
    fetch(`/employer/check_company_is_exists?company_name=${company_name}`).then(resp=>resp.json).then((json) => {
        if(json.exists){
            //redirect to create job
        }else{
            //redirect to company information
        }
    })
})
</script>
{% endblock %}