{% extends 'base.html' %} {% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/dynamic-fields.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../static/student/cvForm.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://bootswatch.com/3/paper/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

{% endblock %} {% block content %}
<body>
    <div class="container">

        <div class="row">
            <div class="formbold-main-wrapper">
                <!-- Author: FormBold Team -->
                <!-- Learn More: https://formbold.com -->

                <div class="formbold-form-wrapper">
                    <!-- <form action="https://formbold.com/s/FORM_ID" method="POST"> -->

                    <div style="margin: auto;width: 50%;">
                        <div class="col-12 mb-3 d-flex justify-content-center">
                            <img class="rounded-circle" src="/static/images/default-avatar.png"
                                style="width: 180px; height: 180px; object-fit:cover" id="icon-preview">
                        </div>

                        <div class="col-12 mb-3">
                            <label class="form-label" for="profileIcon">Upload your portrait</label>
                            <input type="file" class="form-control" id="profileIcon" />
                        </div>
                    </div>
                    <br> <br> <br>
                    <div class="formbold-mb-5 col-md-12 mb-3">
                        <label for="name" class="formbold-form-label formPadding"> Nick Name </label>
                        <input type="text" name="name" id="cvName" placeholder="CV Name"
                            class="formbold-form-input formPadding" />
                    </div>
                    <div class="formbold-mb-5 col-md-6 mb-3">
                        <label for="name" class="formbold-form-label formPadding"> Frist Name </label>
                        <input type="text" name="name" id="fristName" placeholder="Frist Name"
                            class="formbold-form-input formPadding" />
                    </div>
                    <div class="formbold-mb-5 col-md-6 mb-3">
                        <label for="name" class="formbold-form-label formPadding"> Last Name </label>
                        <input type="text" name="name" id="lastName" placeholder="Last Name"
                            class="formbold-form-input formPadding" />
                    </div>

                    <div class="formbold-mb-5 col-md-12 mb-3">
                        <label for="name" class="formbold-form-label formPadding"> Nick Name </label>
                        <input type="text" name="name" id="nickName" placeholder="Nick Name"
                            class="formbold-form-input formPadding" />
                    </div>



                    <div class="formbold-mb-5 col-md-6 mb-3">
                        <label for="phone" class="formbold-form-label formPadding"> Phone number </label>
                        <input type="text" name="phone" id="phoneNumber" placeholder="Phone number"
                            class="formbold-form-input formPadding" />
                    </div>


                    <div class="formbold-mb-5 col-md-6 mb-3">
                        <label for="email" class="formbold-form-label formPadding"> Email Address </label>
                        <input type="email" name="email" id="email" placeholder="Email"
                            class="formbold-form-input formPadding" />
                    </div>


                    <div class="formbold-mb-5 col-md-12 mb-3">
                        <label for="email" class="formbold-form-label formPadding">About Me </label>
                        <div class="placeholderStyle">
                            <textarea type="text" class="form-control skillBox " id="aboutMe" rows="5"
                                placeholder="Description"></textarea>
                        </div>
                    </div>


                    <!-- <div class="flex flex-wrap formbold--mx-3">
                        <div class="w-full sm:w-half formbold-px-3">
                            <div class="formbold-mb-5 w-full">
                                <label for="date" class="formbold-form-label"> Date </label>
                                <input type="date" name="date" id="date" class="formbold-form-input " />
                            </div>
                        </div>
                        <div class="w-full sm:w-half formbold-px-3">
                            <div class="formbold-mb-5">
                                <label for="time" class="formbold-form-label"> Time </label>
                                <input type="time" name="time" id="time" class="formbold-form-input" />
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="formbold-mb-5 formbold-pt-3">
                            <label class="formbold-form-label formbold-form-label-2">
                            Address Details
                        </label>
                            <div class="flex flex-wrap formbold--mx-3">
                                <div class="w-full sm:w-half formbold-px-3">
                                    <div class="formbold-mb-5">
                                        <input type="text" name="area" id="area" placeholder="Enter area" class="formbold-form-input" />
                                    </div>
                                </div>
                                <div class="w-full sm:w-half formbold-px-3">
                                    <div class="formbold-mb-5">
                                        <input type="text" name="city" id="city" placeholder="Enter city" class="formbold-form-input" />
                                    </div>
                                </div>
                                <div class="w-full sm:w-half formbold-px-3">
                                    <div class="formbold-mb-5">
                                        <input type="text" name="state" id="state" placeholder="Enter state" class="formbold-form-input" />
                                    </div>
                                </div>
                                <div class="w-full sm:w-half formbold-px-3">
                                    <div class="formbold-mb-5">
                                        <input type="text" name="post-code" id="post-code" placeholder="Post Code" class="formbold-form-input" />
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="repeaterFormPadding">
                <!-- repeat education -->
                <div id="repeaterEdu">
                    <!-- Repeater Heading -->
                    <div class="repeater-heading">
                        <h5 class="pull-left formPadding">Education</h5>
                        <button class="btn btn-primary pt-5 pull-right repeater-add-btn" id="addEdu">
                            Add
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Repeater Items -->
                    <div class="items" data-group="test" id="edu">
                        <!-- Repeater Content -->
                        <div class="item-content">
                            <div class="form-group">
                                <label for="inputEdu" class="col-lg-2 control-label">School Name</label>
                                <div class="col-lg-10 inputBox">
                                    <input type="text" class="form-control" id="schoolName" placeholder="Name"
                                        data-name="name">
                                </div>

                                <label for="inputEdu" class="col-lg-2 control-label">Major</label>
                                <div class="col-lg-10 inputBox">
                                    <input type="text" class="form-control" id="major" placeholder="Major"
                                        data-name="name">
                                </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                <label for="inputEdu" class="col-lg-2 control-label formPadding">Start Date</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="schoolStartDate"
                                        placeholder="Start Date" data-skip-name="true" data-name="description"></input>
                                </div>
                                <label for="inputEdu" class="col-lg-2 control-label formPadding">End Date</label>
                                <div class="col-lg-10 inputBox">
                                    <input type="date" class="form-control" id="schoolEndDate" placeholder="End Date"
                                        data-skip-name="true" data-name="description"></input>
                                </div>
                                <!-- <div class="col-lg-10">
                                        <textarea class="form-control" id="description formPadding"
                                            placeholder="description" data-skip-name="true" data-name="description" rows="4"
                                            cols="50"></textarea>
                                    </div> -->
                            </div>
                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn formButtonPadding">
                            <button class="btn btn-danger remove-btn">
                                Remove
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <!-- </div> -->

                    </div>
                    <!-- Repeater End -->
                </div>

                <!-- work experience -->
                <div id="repeaterWrok">
                    <!-- Repeater Heading -->
                    <div class="repeater-heading">
                        <h5 class="pull-left formPadding">Work Experience</h5>
                        <button class="btn btn-primary pt-5 pull-right repeater-add-btn" id="addWork">
                            Add
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Repeater Items -->
                    <div class="items" data-group="test" id="edu">
                        <!-- Repeater Content -->
                        <div class="item-content">
                            <div class="form-group">
                                <label for="inputEdu" class="col-lg-2 control-label">Company Name</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="companyName" placeholder="Company Name"
                                        data-name="name">
                                </div>
                                <!-- </div> -->
                                <!-- <div class="form-group"> -->
                                <label for="inputWork" class="col-lg-2 control-label formPadding">Start Date</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="companyStartDate"
                                        placeholder="Start Date" data-skip-name="true" data-name="description"></input>
                                </div>
                                <label for="inputEdu" class="col-lg-2 control-label formPadding">End Date</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="companyEndDate" placeholder="End Date"
                                        data-skip-name="true" data-name="description"></input>
                                </div>
                                <label for="inputWork" class="col-lg-2 control-label formPadding">Description</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" id="Description"
                                        style="border: none;outline: none;border-bottom: 1px solid black;"
                                        placeholder="Description" data-skip-name="true" data-name="description" rows="5"
                                        cols="50"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- Repeater Remove Btn -->
                        <div class="pull-right repeater-remove-btn formButtonPadding">
                            <button class="btn btn-danger remove-btn">
                                Remove
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <!-- </div> -->

                    </div>
                    <!-- Repeater End -->
                </div>

                <!-- //Language -->
                <div class="mb-3">
                    <label for="address">Language</label>
                    <!-- <h1>Dynamic Fields Javascript</h1> -->
                    <!-- <div class="wrapper"> -->
                    <div id="survey_options">
                        <input type="text" name="survey_options[]" class="survey_options skillBox" size="50"
                            placeholder="language">

                    </div>
                    <div class="controls">
                        <button type="button" id="add_more_fields" class="btn btn-primary">Add More</button>
                        <button type="button" id="remove_fields" class="btn btn-danger">Delete</button>

                    </div>
                    <!-- </div> -->
                </div>


            </div>
            <div>
                <button class="formbold-btn" onclick="saveCv()">Book Appointment</button>
            </div>

        </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../../static/student/js/repeater.js" type="text/javascript"></script>






<script>
    $("#addEdu").click(function () {

        $('input[name*="wat"]').each(function (e) {
            console.log($(this).val());

        });
    });

    $("#addWork").click(function () {

        $('input[name*="wat"]').each(function (e) {
            console.log($(this).val());

        });
    });
    /* Create Repeater */
    $("#repeaterEdu").createRepeater({
        showFirstItemToDefault: true,

    });

    $("#repeaterWrok").createRepeater({
        showFirstItemToDefault: true,

    });


    var base64ImgProfileIcon = '';


    // function getBase64(file) {
    //     var reader = new FileReader();
    //     reader.readAsDataURL(file);
    //     reader.onload = function() {
    //         return reader.result

    //     };
    //     reader.onerror = function(error) {
    //         console.log('Error: ', error);
    //     };
    // }

    $("#profileIcon").change((e) => {
        let file = $("#profileIcon")[0].files[0]
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = function () {
            const base64String = reader.result
            // console.log(base64String);
            base64ImgProfileIcon = base64String //global
            $("#icon-preview").attr("src", base64String)
        };
    })


    var survey_options = document.getElementById('survey_options');
    var add_more_fields = document.getElementById('add_more_fields');
    var remove_fields = document.getElementById('remove_fields');

    add_more_fields.onclick = function () {
        var newField = document.createElement('input');
        newField.setAttribute('type', 'text');
        newField.setAttribute('name', 'survey_options[]');
        newField.setAttribute('class', 'survey_options skillBox');
        newField.setAttribute('siz', 50);
        newField.setAttribute('placeholder', 'language');
        survey_options.appendChild(newField);
    }

    remove_fields.onclick = function () {
        var input_tags = survey_options.getElementsByTagName('input');
        if (input_tags.length > 1) {
            survey_options.removeChild(input_tags[(input_tags.length) - 1]);
        }
    }



    function saveCv() {


        var schoolNames = $('input[id^=schoolName]').map(function (idx, elem) {

            return $(elem).val();
        }).get();
        // console.log(schoolNames)

        var majors = $('input[id^=major]').map(function (idx, elem) {
            return $(elem).val();
        }).get();
        // console.log(majors)

        var schoolStartDates = $('input[id^=schoolStartDate]').map(function (idx, elem) {
            return $(elem).val();
        }).get();


        var schoolEndDates = $('input[id^=schoolEndDate]').map(function (idx, elem) {
            return $(elem).val();
        }).get();



        var companyNames = $('input[id^=companyName]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        var companyStartDates = $('input[id^=companyStartDate]').map(function (idx, elem) {
            return $(elem).val();
        }).get();
        // console.log(companyStartDate)

        var companyEndDates = $('input[id^=companyEndDate]').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        // console.log(companyEndDate)
        var description = $('textarea[id^=description]').map(function (idx, elem) {
            return $(elem).val();
        }).get();


        var lan = $('input[name^=survey_options]').map(function (idx, elem) {
            return $(elem).val();
        }).get();



        const workExperience = []
        for (let i = 0; i < companyNames.length; i++) {
            workExperience.push({
                companyName: companyNames[i],
                startDate: companyStartDates[i],
                endDate: companyEndDates[i],
                description: description[i]
            })
        }

        console.log(workExperience);
        console.log(companyNames[0]);


        // $.ajax({
        //     url: "/student/create_cvProfile",
        //     type: 'POST',
        //     data: {
        //         profileIcon: base64ImgProfileIcon,
        //         cvName: $("#cvName").val(),
        //         fristName: $("#fristName").val(),
        //         lastName: $("#lastName").val(),
        //         nickName: $("#nickName").val(),
        //         phoneNumber: $("#phoneNumber").val(),
        //         email: $("#email").val(),
        //         aboutMe: $("#aboutMe").val(),
        //         schoolNames: schoolNames,
        //         majors: majors,
        //         schoolStartDates: schoolStartDates,
        //         schoolEndDates: schoolEndDates,
        //         companyNames: companyNames,
        //         companyStartDate: companyStartDates,
        //         companyEndDate: companyEndDates,
        //         description: description,
        //         language: lan,
        //     },
        //     datatype: 'html',
        //     success: function (result) {
        //         //On success
        //         console.log(result)
        //         if (result.status == true) {

        //             Swal.fire({
        //                 title: 'Create CV Successful',
        //                 text: 'Success',
        //                 icon: 'success',
        //                 showCancelButton: true,
        //                 showDenyButton: false,
        //                 showCancelButton: false,
        //                 confirmButtonText: 'OK'
        //             })
        //             delayURL("/student/cvRecord")
        //         }

        //     },
        //     error: function (jqXHR, textStatus, errorThrown) {
        //         alert(jqXHR.responseText);
        //     }

        // })
    }





</script>

{% endblock %}