{% extends 'base.html'%} {% block header %}
<link rel="stylesheet" type="text/css" href="../../static/student/cvCard.css">{% endblock %} {% block content %}
<h3 style="text-align: center;">Your Cv Record</h3>
{% for cv in cv_list %}
<div class="card-container cardLayout">
    <span class="pro">PRO</span>
    {% if cv.profileIcon == None %}
        <img class="round" src="/static/images/default-avatar.png" alt="user" style="width: 100px ;height: 100px; object-fit:cover"/>
    {% else %}
        <img class="round" src="{{cv.profileIcon}}" alt="user" style="width: 100px ;height: 100px; object-fit:cover"/>
    {% endif %}
    <h3>{{cv.cvname}}</h3>
    <h6>{{cv.fristName}} {{cv.lastName}} ({{cv.nickName}})</h6>
    <!-- <p style="text-align: justify;padding-left: 20px;padding-right: 20px;">{{cv.aboutMe}}</p> -->
    <div class="buttons">
        <button class="primary">
                    Edit
                </button>
        <button class="primary ghost">
                    Delete
                </button>
    </div>
    <div class="skills">
        <h6>Skills</h6>
        <ul>
            {% for lan in cv.getLanguage %}
                <li>{{lan.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endfor %} {% comment %}
<div class="card-container cardLayout">
    <span class="pro">PRO</span>
    <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
    <h3>Ricky Park</h3>
    <h6>New York</h6>
    <p>User interface designer and <br/> front-end developer</p>
    <div class="buttons">
        <button class="primary">
			Edit
		</button>
        <button class="primary ghost">
			Delete
		</button>
    </div>
    <div class="skills">
        <h6>Skills</h6>
        <ul>
            <li>UI / UX</li>
            <li>Front End Development</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node</li>
        </ul>
    </div>
</div> {% endcomment %}


<button class="btn btn-primary btn-lg btn-block" style="display: block;margin: 0 auto;" type="submit">Create New CV</button> {% endblock %}